@media only screen and (min-width: 38rem) {

    header, main, nav, footer {
        width: 1600px;
        margin: 0 auto;
        grid-template-columns: 24px auto;
        text-align: left;
    }

    header {
        grid-template-columns: 24px auto;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        display: block;
        border-bottom: solid 1px var(--border);
    }
    .navigation ul {
        display: flex;
    }
    .navigation a {
        border: none;
    }
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #spot-sect {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .spot-aside {
        border: solid 1px var(--border);
        border-radius: 20px;
        padding: 1rem;
        min-height: 100px;
    }

    .dir-main {
        display:block;
    }
    .hero-img {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
    h1, #certificates, #comp-container {
        grid-column: 1 / -1;
    }
    h2, h3, h4 {
        text-align: center;
        padding-right: 0.8vw;
    }
    #butt-cont {
        grid-template-columns: auto auto auto;
        gap: 1vw;
        background-color: var(--accent-color);
        text-align: center;
        border-radius: 15px;
        padding: 20px;
    }
}