@media only screen and (min-width: 38rem) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
        grid-template-columns: 24px auto;
        text-align: left;
    }

    header {
        grid-template-columns: 24px auto;
    }
    .hamburger {
        display: none;
    }
    .navigation {
        display: block;
        border-bottom: solid 1px var(--border);
    }
    .navigation ul {
        display: flex;
    }
    .navigation a {
        border: none;
    }
    #butt-cont {
        grid-template-columns: auto auto auto;
        gap: 1vw;
        background-color: var(--accent-color);
        text-align: center;
        border-radius: 15px;
        padding: 20px;
    }
}